@use "/src/mixin";
@use "/src/var";

.contact-requests {
    width: 99%;
    max-width: 1600px;
    // position: fixed;
    bottom: 5rem;
    left: 50%;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background-color: #ffffff;

    max-height: 400px;
    overflow-y: auto;



    .request {
        border-radius: 6px;
        background-color: #ffffff;
        padding: 0.8rem 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);

        .contact-title {
            margin: 0 0 0.4rem 0;
            font-weight: var.$font-main;
            font-size: var.$font-size-base;
            color: #333;
        }

        .contact-texte{
            margin-bottom: 0.5rem;
            color: #000000;
        }
    }

    p.no-requests {
        text-align: center;
        color: var.$color-bg;
        font-weight: var.$font-alt;
    }

    .actions button {
        background-color: var.$color-admin;
        color: #000000;
        border: none;
        border-radius: 12px;
        padding: 10px 20px;
        margin-right: 10px;
        cursor: pointer;
        font-size: var.$font-size-base;
    }
}
