
// Les couleurs
$color-title-and-text: #000000;
$color-bg: #F4F1DE;
$color-client: #9DC4B5;
$color-admin: #E07A5F;



// Les polices 
$font-main: "Roboto Mono", monospace; // font title
$font-alt: "Victor Mono", monospace; // font text


// Tailles de police
$font-size-base: 1rem; // texte 
$font-size-h2: 2rem;   // titres H2
$font-size-h1: 3rem;   // titres H1

// Les breakpoints
$breakpoint-sd: 576px;
$breakpoint-md: 768px;

// Mixin responsive mobile 768 px
@mixin small {
    @media (max-width: #{$breakpoint-sm}) {
        @content;
    }
}

@mixin medium {
    @media (max-width: #{$breakpoint-md}) {
        @content;
    }
}


