@use "../var.scss";
@use "../mixin.scss";

.preview__list__title {
    text-align: center;
    font-family: var.$font-main;
    margin: 1rem;
}

.preview__list {

    // par defaut mobile first
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    // style desktop
    @include mixin.desktop {
        flex-direction: row;
        align-content: flex-start;
    }

}

.preview__list__title__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-icon {
    background-color: white;
    color: black;
}

#dropdown-basic {
    background-color: white;
    border: none;
}

.genre__menu {
    width: calc(100vw - 2px);
    border: solid 1px var.$color-admin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.genre__item {
    border-bottom: solid 1px var.$color-admin;
    width: calc(100vw - 6rem);
    margin: .5rem 3rem .5rem 3rem;
    font-family: var.$font-alt;
}