@use "../var.scss";
@use "../mixin.scss";

.login-form {
    border: solid 1px var.$color-client;
    font-family: var.$font-alt;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 1px rgba(133, 132, 132, 0.31);
    margin: 1rem;

    .login-form-item {
        margin-bottom: 1.5rem;
    }

    .login-form-button {
        display: block;
        margin: 0 auto;
        border-radius: 50px;
        padding: 1rem 3rem;
        background-color: var.$color-admin;
        color: #000000;
        border: none;
    }

    p {
        text-align: center;
        padding-top: 1.5rem;
        .login-link {
            margin-left: 1rem;
            background: none;
            border: none;
            color: var.$color-admin;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.inscription-item {
    margin-left: 2.5rem;
}

@media (min-width: var.$breakpoint-desktop) {
    .login-item {
        justify-items: center;
    }
    .login-form {
        width: 30%;
    }
    .inscription-item {
        margin-left: 2.5rem;
    }
}
