@use "../var.scss";
@use "../mixin.scss";

.description__container {
    display: flex;
    flex-direction: column; // Mobile: titre > image > texte
    align-items: center;
    gap: 1rem;

    @include mixin.desktop {
        flex-direction: row; // Desktop: image à gauche, texte + titre à droite
        align-items: center; // Centrage vertical
    }
}

.description__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    @include mixin.desktop {
        align-items: flex-start;
        padding-top: 0; // pour bien coller avec le texte
    }
}

.description__image {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    padding-top: 20px;

    @include mixin.desktop {
        width: 500px;
        height: 500px;
        margin-right: 50px; // espace entre image et contenu
        padding-top: 40px;
    }
}

.description__text {
    display: flex;
    flex-direction: column; // Titre et texte en dessous l’un de l’autre
    align-items: center;
    padding: 20px;

    @include mixin.desktop {
        align-items: flex-start;
        justify-content: center;
        padding: 0;
    }
}

.description__paragraph {
    line-height: 1.6;
    padding: 20px;
    text-align: center;

    @include mixin.desktop {
        text-align: left;
        padding: 10px 100px 0 0;
    }
}
