@use "../style/var.scss";
@use "../style/mixin.scss";

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 10px 40px;
    flex-direction: column;
    align-items: center;
    background-color: var.$color-bg;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        list-style: none;
        gap: 60px;
        margin: 0;
        padding: 0;

        li a {
            text-decoration: none;
            color: var.$color-title-and-text;
            font-family: var.$font-main;
            font-weight: 500;
            font-size: var.$font-size-base;
            transition: color 0.3s ease;

            &:hover {
                color: #007bff;
            }
        }
    }

    .footer-icons {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                color: var.$color-title-and-text;
                font-size: 3rem;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;

                i {
                    display: block;
                }

                span {
                    font-size: 0.7rem;
                    color: var.$color-title-and-text;
                    font-family: var.$font-main;
                }

                &:hover span {
                    color: #007bff;
                }
            }
        }
    }

    @include mixin.medium {
        padding: 15px 20px;

        .footer-links {
            display: none;
        }

        .footer-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            width: 100%;
            padding: 10px 0;

            li a {
                color: var.$color-title-and-text;
                font-size: 2rem;
            }

            .dropdown-toggle::after {
                display: none;
            }



            // Menu déroulant mobile
            .dropdown-menu {
                position: absolute;
                bottom: 100%; // s’affiche au-dessus du footer
                left: 0;
                width: 100vw; // toute la largeur de l’écran
                background-color: #fff;
                border: 1px solid var.$color-admin;
                box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.15);
                margin-bottom: 0.5rem;

                a.dropdown-item {
                    font-family: var.$font-main;
                    font-weight: lighter;
                    font-size: var.$font-size-base;
                    color: var.$color-title-and-text;
                    padding: 10px 16px;
                    text-align: center;
                }
            }
            //lien composition visible sur mobile
            .mobile-only-link {
                display: block;
            }
        }
    }
        //lien composition non-visible sur desktop
    .desktop-only-link {
        display: none;
    }
}
