@use "../mixin";
@use "../var";

.full-client-card-container {
    border: solid 1px #e07a5f;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 3px rgba(133, 132, 132, 0.31);
}

.full-card {
    padding: 0;
}
